use('../plugins/element.js')

CreateMod(name, namespace)
  namespace = getString(namespace)
  name = getString(name)
  fullPath = getString('$' + namespace + 'Modification' + name)
  modBlock = type(block) != 'ident' ? @block {{block}} : @block {}
  define(fullPath, modBlock, true)

RegisterElement(name)
  name = getString(name)
  namespacePath = getString('$' + name)
  elementBlock = type(block) != 'ident' ? @block {{block}} : @block {}
  define(namespacePath, elementBlock, true)
  WrapRegisterElement(name)

ApplyMods()
  cleanNamespace = getString(shift(arguments))
  namespace = getString('$' + cleanNamespace)
  namespaceBlock = lookup(namespace)
  {namespaceBlock}
  if arguments
    for mod in arguments
      modPath = getString('$' + cleanNamespace + 'Modification' + mod)
      modBlock = lookup(modPath)
      {modBlock}

UpdateElement(name)
  name = getString(name)
  namePath = getString('$' + name)
  elementBlock = lookup(namePath)
  newBlock = @block {
    {elementBlock}
    {block}
  }
  define(namePath, newBlock, true)

UpdateMod(name, namespace)
  namespace = getString(namespace)
  name = getString(name)
  fullPath = getString('$' + namespace + 'Modification' + name)
  modBlock = lookup(fullPath)
  newBlock = @block {
    {modBlock}
    {block}
  }
  define(fullPath, newBlock, true)
