use('../plugins/component.js')

ApplyMods()
  namespace = getName(shift(arguments))

  __{namespace+'Block'}()
  if arguments
    for nm in arguments
      name = getName(nm)
      __{namespace}Modification{name}()


CreateMod(name, namespace)
  name = getName(name)
  namespace = getName(namespace)
  WrapRegisterMod(name, namespace, block)

RegisterComponent(name)
  name = getName(name)
  WrapRegisterComponent(name, block)
